streamlit==1.30.0
pandas==2.1.4
numpy==1.26.4
matplotlib==3.8.0
wordcloud
plotly==5.9.0
networkx==3.1
pyvis
scikit-learn==1.2.2
pdfplumber
beautifulsoup4==4.12.2
requests==2.32.3
nltk==3.8.1
streamlit-echarts
